@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
    box-sizing: border-box;
    padding-left: 5px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color: aliceblue;
}

h1 {
    color:green;
    text-shadow: 2px 2px #95d2b7;
}

ul.horizontal-list {
    list-style-type: none
}

.horizontal-list > li > a {
    color: inherit;
    text-decoration: inherit;
    font-weight:1000;
}

.btn-primary {
    font-weight:1000;
    color:#24332c;
    padding: 0.7rem;
    background-color: #95d2b7;
    border-radius: 15px;
    border:rgb(4, 65, 39) solid 2px;
}

.btn-primary:hover {
    background-color: #2fa570;
}

.btn-primary:active {
    background-color: #3cd38f;
}

.container {
    margin: 1rem;
}

.section-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.section-header > h2 {
    padding: 0 2rem 0 0;
}
